.Pagination {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.Pagination_item {
    height: 2rem;
    text-align: center;
    margin: auto 4px;
    color: white;
    background-color: var(--main-color);
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.01071em;
    border-radius: 16px;
    line-height: 1.43;
    min-width: 2rem;
    width: 2.5rem;
}

a {
    width: 100%;
}

.Pagination_item:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

.Pagination_item_dots:hover {
    background-color: var(--main-color);
    cursor: default;
}

.Pagination_item.selected {
    background-color: var(--hover-color)
}

.Pagination_item.disabled {
    display: none;
}

.Pagination_arrow::before {
    border-right: 0.12rem solid #FFFFFF;
    border-top: 0.12rem solid #FFFFFF;
}

.Pagination_arrow:hover {
    cursor: pointer;
}

.Pagination_arrow {
    width: 2.5rem;
    min-width: 2rem;
}