body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

html[data-theme='dark'] {
  --background-image-linear-gradient: #00ff75;
  --background-image-linear-gradient-2: #3700ff;
  --box-shadow: rgba(66, 255, 0, 0.49);
  --header-background: black;
  --text-color: #00ff75;
  --button-hover-text: #fff;
  --background-main: #061300FF;
  --button-disable: rgb(50, 54, 58);
}

html[data-theme='light'] {
  --background-image-linear-gradient: #894595;
  --background-image-linear-gradient-2: #3700ff;
  --box-shadow: rgb(35, 28, 202);
  --header-background: #894595;
  --text-color: black;
  --button-hover-text: black;
  --background-main: snow;
  --button-disable: rgb(50, 54, 58);
}

:root {
  --main-color: #76b852;
  --second-color: #43A047;
  --hover-color: #388E3C;
  --error-color: #e00000;
}